@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom keyframes for animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-40%);
  }
}

/* Custom animation class */
.animate-scroll {
  animation: scroll 15s linear infinite;
  display: flex;
  will-change: transform;
}
